<footer id="footer" w-bind w-preserve>
    <p>
        Created by
        <a href="http://github.com/bryceewatson/">
            Bryce Watson
        </a>
        and
        <a href="https://github.com/watsokel/">
            Kelvin Watson
        </a>
    </p>
</footer>
